*{
	position: relative;
}

/*body{
	width:1024px;
	height:633px;
}*/

code span{
	display:block;
}

#css, #js{
	opacity:0;
}

#frame{
	position:absolute;
	left:660px;
}

#stats{
	transition: all ease-in 200ms;
	background : #222;
	padding : 20px;
	margin : 20px;
}