*{
	position: relative;
}

/*body{
	width:1024px;
	height:633px;
}*/

code{
	position:relative;
	display:block;
}

code span{
	display:block;
}

#css, #js{
	opacity:0;
}

#html, #css, #js{
	float:left;
	position:relative;
	min-width:170px;
	min-height:50px;
	padding-top:30px;
}

#html:before, #css:before, #js:before{
	content:'index.html';
	background:#ddd;
	color:#000;
	position:absolute;
	top:-10px;
	width:33.3%;
	left:0px;
	padding:3px;
}

#css:before{
	content:'style.css';
	left:33.3%;
}

#js:before{
	content:'functions.js';
	left:66.6%;
}

#frame{
	width:100%;
	clear:both;
	float:none;
	overflow:hidden;
}

#stats{
	transition: all ease-in 200ms;
	background : #222;
	padding : 20px;
	margin : 20px;

	border-radius : 10px;
	-webkit-border-radius : 10px;
	-o-border-radius : 10px;
}